.text-center {
    text-align: center;
}

p {
	margin-top: 30px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 200;
    margin: 0 0 10px;	
	display: block;
    font-family: "Helvetica Neue","Open Sans",Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.header-text {
    text-transform: uppercase;
    font-weight: 200;
    color: #333;
    margin-bottom: 20px;
    font-size: 30px;
    position: relative;
    line-height: 24px;
}